[submodule "Dependencies/openAL"]
	path = Dependencies/openAL
	url = https://github.com/kcat/openal-soft
[submodule "GameEngine/Dependencies/openAL"]
	path = GameEngine/Dependencies/openAL
	url = https://github.com/kcat/openal-soft
[submodule "GameEngine/Dependencies/libsndfile"]
	path = GameEngine/Dependencies/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "GameEngine/Dependencies/vcpkg"]
	path = GameEngine/Dependencies/vcpkg
	url = https://github.com/microsoft/vcpkg
